#home img {
  margin-top: 175px;
}

#home h2 {
  margin-top: 55px;
  font-size: 26px;
  line-height: 35px;
}

#home p {
  font-size: 17px;
  line-height: 23px;
  margin-top: 20px;
}

#home strong  {
  font-weight: 500;
  font-size: 19px;
  color: #313131;
}

#home a {
  text-decoration: none;
}

#container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
