.container {
  padding: 0 33px ;
  border-radius: 43px;
} 

.container img {
  margin-top: 175px;
}

p {
  font-weight: 400;
  font-size: 17px;
  margin-top: 20px;
  color: #797979;
}

 h2 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 55px;
  color: #383838;
}

.button-register-home {
  width: 147px;
  height: 73px;
}

#container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

strong  {
  font-weight: 500;
  font-size: 19px;
  color: #313131;
}

a {
  text-decoration: none;
}
