#recovery-signin ,#login-ou-senha-inválido {
  color: #383838;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize; 
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 27px;
}

#login-ou-senha-inválido {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}