#player {
  align-items: normal;
}

#player .wrapper-logo-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 35px;
}

#player .wrapper-logo-menu nav {
  margin-right: 30px;
}

#player #player-logo-spotfy {
  Width: 108px;
  Height: 33px;
  margin: auto;
}

#player h3 {
  display: flex;
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-top: 20px;
}

#player #songbox {
  display: flex;
  width: auto;
  height: auto;
  align-self: flex-start;
  margin-top: 31px;
}

#player #playlist p {
  color: #131313;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin-top: 37px;
}
