@font-face {
  font-family: imported;
  src:url(./assets/fonts/GothamBook.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: imported;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 550px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 33px ;
}

.container h2 {
  font-style: normal;
  font-weight: 700;
  color: #383838;
  text-align: center;
  text-transform: capitalize;
}

.container p {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #797979;
}

.button-register-home {
  width: 147px;
  height: 73px;
}

.register-signin #logo-spotfy {
  Width: 108px;
  Height: 33px;
  margin-top: 38px;
}

.register-signin h2 {
  font-size: 30px;
  line-height: 41px;
  margin-top: 47px;
}

.register-signin p {
  font-size: 12px;
  line-height: 16px;
  margin-top: 15px;
}

.register-signin p a {
  color: #38B432;
  text-decoration: none;
}

.register-signin input {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 28px;
}

.register-signin input::placeholder {
  color: #383838;
}

.register-signin .btn-register {
  margin-top: 33px;
}





