@font-face {
  font-family: imported;
  src:url(./assets/fonts/Gotham-Light.otf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: imported;

}

.container {
  display: flex;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 0 33px ;
  border-radius: 43px;
} 

.container img {
  margin-top: 175px;
}

.container p {
  font-weight: 400;
  font-size: 17px;
  margin-top: 20px;
  color: #797979;
}

.container h2 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 55px;
  color: #383838;
}

.button-register-home {
  width: 147px;
  height: 73px;
}




